* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    font-size: 1em;
    width: 100%;
    padding: 0;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.logo img{
    width: 350px;
    height: 250px;
    display: block;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

/* container-card*/

.container-fluid {
    padding: 0;
}

.title {
    color: aliceblue;
    text-align: center;
    margin-top: -10px;
    letter-spacing: 3px;
    font-size: 1.9em;
}

.p {
    color: aliceblue;
    text-align: center;
    font-size:  1.0em;
    margin-bottom: 20px;
}

.info {
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
}

.container-card {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
}

.card {
    color: aliceblue;
    background: rgba(255, 255, 255, 0.18);
    background-color: rgba(255, 255, 255, 0.043);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vh;
    margin-top: 10px;
}

.card-text {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    height: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: #000000c7;
    transition: 0.8s ease;
}

.card:hover .card-text {
    opacity: 1;
    height: 100%;
}

.card:hover {
    transform: scale(1.1);
    background-color: rgba(240, 248, 255, 0.303);
}

.text-center p {
    font-size: 5px;
}

.access-button {
    border-radius: 50%;
}

.footer-copyright {
    text-align: center;
    color: rgb(240, 248, 255);
    list-style: none;
    letter-spacing: 1px;
}

.footer-copyright a {
    color: rgb(240, 248, 255);
}
